body {
    font-family: Arial, sans-serif;
}
h2 {
    color: #333;
    margin: 0;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.question {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}
.question.correct::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-size: cover;
}

.nut{
    background-color: #cccccc26;
    width: 332px;
    height: 50px;
    margin-top: 8px;
    margin-left: 8rem;
    transition: background-color 0.2s;
}
.nut:hover{
    background-color: #cccccc6b;
}

ul {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    font-weight: bold;
}

li{
    font-weight: normal;
    margin-top: 10px;
    margin-left: 30px;
}